/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 90vh;
    height: 100vh;
    background: linear-gradient(rgba(221, 212, 212, 0.5), rgba(221, 212, 212, 0.5)),
                url('/static/images/back.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
}
    

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: #333;
}

.flash-messages {
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #218838;
}
